.nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
}
.box {
    height: 80px;
}
.logo {
    width: 72px;
    height: 47px;
    margin-top: 16px;
    margin-right: 52px;
}
.sy {
    height: 16px;
    margin-top: 32px;
}
.sy li {
    float: left;
    margin-right: 50px;

}
.sy a {
    font-size: 16px;
    color: #666;
}
.bq {
    height: 16px;
    margin-top: 32px;

}
.bq ul {
    margin-right: 95px;
}
.bq li {
    float: left;
    margin-right: 20px;
}
.bq a {
    font-size: 16px;
    color: #13c488;
}
.bq .app {
    margin-right: 22px;
}
.app img {
    float: left;
}
.app a {
    float: left;
    font-size: 12px;
    color: #13c488;
    margin-top: 5px;
}
.banner {
    width: 100%;
    height: 420px;
    background: url(../images/11.jpg) no-repeat;
    position: relative;
    margin-bottom: 73px;
}
.box1 {
    width: 234px;
    height: 137px;
    background-color: rgba(0,0,0,.2);
    position: absolute;
    right: 400px;
    top: 95px;
    border-radius: 10px;
}
.k {
    width: 45px;
    height: 18px;
    margin-top: 20px;
    margin-left: 22px;
}
.k1 {
    width: 6px;
    height: 18px;
    background-color: #fc7c52;
    border-radius: 5px;
}
.k p {
    float: right;
    font-size: 14px;
    color: #fff;
}
.box2 {
    width: 174px;
    height: 45px;
    margin-top: 24px;
    margin-left: 22px;
}
.box2 .a {
    width: 142px;
    height: 45px;

}
.a h3 {
    font-size: 46px;
    color: #fff;
    font-weight: 700;
}
.box2 .b p {
    font-size: 12px;
    color: #fff;
}
.box2 .b {
    width: 55px;
    height: 32px;
    margin-left: 15px;
    margin-top: -30px;
}
.banner a {
    font-size: 18px;
    color: #fff;
    padding: 11px 82px;
    background-color: #fc7c52;
    border-radius: 45px;
    display: inline-block;
    position: absolute;
    right: 395px;
    top: 255px;
}
.box3 {
    width: 100%;
    height: 360px;
    background-color: #fff;
    position: relative;
    margin-bottom: 93px;
}
.tu {
    height: 360px;
    border-top: 1px solid #ccc;
    
}
.rm {
    width: 136px;
    height: 24px;
    background-color: #fff;
    text-align: center;
    position: absolute;
    right: 895px;
    top: -16px;
}
.rm p {
    font-size: 24px;
    color: #62625d;
}
.box4 {
    width: 1140px;
    height: 315px;
    margin-top: 47px;
}
.box4 .img {
    float: left;
    width: 560px;
    height: 315px;
    background: url(../images/1.jpg) no-repeat;
    margin-right: 20px;
    background-size: 560px 315px;
    position: relative;
}
.box4 .a2 {
    margin-right: 0;
}
.img .a {
    width: 300px;
    height: 108px;
    border: 2px solid #fff;
    text-align: center;
    position: absolute;
    right: 125px;
    top: 72px;
}
.img h4 {
    font-size: 18px;
    margin-top: 30px;
    margin-left: -68px;
    color: #fff;
}
.img p {
    font-size: 14px;
    color: #fff;
    position: absolute;
    top: 210px;
    right: 210px;
}
.box5 {
    width: 100%;
    height: 335px;
    background-color: #fff;
    margin-bottom: 92px;
}
.tu1 {
    height: 335px;
    border-top: 1px solid #ccc;
    position: relative;
}
.tj {
    width: 136px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    right: 505px;
    top: -16px;
    text-align: center;
}
.tj p {
    font-size: 24px;
    color: #62625d;
}
.tu2 {
    width: 1140px;
    height: 288px;
    margin-top: 47px;
}
.img1 {
    width: 265px;
    height: 288px;
    float: left;
    margin-right: 26px;
}
.a2 {
    margin-right: 0;
} 
.bj {
    width: 265px;
    height: 148px;
    background: url(../images/8.jpg) no-repeat;
    background-size: 264px 148px;
}

.aa {
    width: 263px;
    height: 138px;
    border: 1px solid #ccc;
}
.aa h5 {
    font-size: 12px;
    color: #434441;
    margin-top: 14px;
    margin-bottom: 16px;
    margin-left: 14px;
}
.x {
    font-size: 12px;
    color: #666667;
    margin-left: 10px;
}
.aa a {
    font-size: 12px;
    color: #fff;
    padding: 13px 90px;
    border-radius: 5px;
    margin-top: 14px;
    margin-left: 14px;
    display: inline-block;
    background-color: #15c388;
}
.box6 {
    width: 100%;
    height: 192px;
    background-color: #fff;
    margin-bottom: 97px;
}
.tu3 {
    height: 192px;
    border-top: 1px solid #ccc;
    position: relative;

}
.rz {
    width: 136px;
    height: 24px;
    background-color: #fff;
    position: absolute;
    right: 505px;
    top: -16px;
    text-align: center;
}
.rz p {
    font-size: 24px;
    color: #70716e;
}
.tu4 {
    width: 1140px;
    height: 145px;
    margin-top: 47px;
}
.tp {
    width: 358px;
    height: 144px;
    border: 1px solid #ccc;
    float: left;
    margin-right: 30px;
}
.v1 {
    margin-right: 0;
}
.img2 {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.img2 img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}
.hz {
    float: right;
    width: 122px;
    height: 86px;
    margin-top: 34px;
    margin-right: 65px;
}
.hz h6 {
    font-size: 12px;
    color: #11c286;
    font-weight: 400;
    margin-bottom: 9px;
}
.hz a {
    font-size: 12px;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
    background-color: #fc963a;
    margin-bottom: 18px;
}
.hz p {
    font-size: 12px;
    color: #626262;
}
.box7 {
    width: 100%;
    height: 201px;
    background-color: #515151;
}
.foot {
    width: 990px;
    height: 127px;
    margin: 0 auto;
}
.tt {
    width: 232px;
    height: 52px;
    margin-top: 37px;
    margin-right: 124px;
} 
.h {
    margin-top: 50px;
    height: 36px;
    text-align: center;
} 
.h li {
    float: left;
    margin-right: 12px;
    margin-bottom: 10px;
}
.h span {
    margin-left: 9px;
    color: #fff;
}
.h .s1 {
    margin-right: 0;
}
.h a {
    font-size: 12px;
    color: #fff;
}
.h p {
    font-size: 12px;
    color: #9a9a9b;
}
.footer {
    width: 1292px;
    height: 73px;
    border-top: 1px solid #ccc;
    margin: 0 auto;
}
.box8 {
    width: 1048px;
    height: 38px;
    margin: 0 auto;
} 
.box8 li {
    float: left;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}
.box8 span {
    margin-left: 15px;
    color: #9a9a97;
}
..box8 .s2 {
    margin-right: 0;
}
.box8 a {
    font-size: 12px;
    color: #9a9a97;
}
.box8 p {
    font-size: 12px;
    color: #9a9a97;
}